{% extends "base.html" %}
{% block title %}文件{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/file.css") }}">
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="table">
        <center>
            <table>
                <caption>全部文件</caption>
                {% for msg in get_flashed_messages() %}
                    <div style="color: red">{{ msg }}</div>
                {% endfor %}
                <tr>
                    <th>上传用户</th>
                    <th>文件名</th>
                    <th>上传时间</th>
                    <th>操作</th>
                </tr>

                {% for file in files %}
                    <tr>
                        <td>{{ file.sender.username }}</td>
                        <td>{{ file.filename }}</td>
                        <td>{{ file.time }}</td>
                        <td>
                            <a href="{{ url_for(".download_file",file_id=file.id) }}">下载</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
            <br>
            <br>
            <a href="{{ url_for(".upload_file") }}">上传文件</a>
        </center>
    </div>
{% endblock %}